{
  "env": {
    "test": {
      "passPerPreset": true,
      "presets": [
        {
          "plugins": [
            "@babel/plugin-proposal-object-rest-spread"
          ]
        },
        {
          "passPerPreset": false,
          "presets": [
            "@babel/preset-env"
          ]
        }
      ]
    }
  }
}
